*{
    margin:0;
}

*::-webkit-scrollbar {
    width: 7px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.4);
}

*::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 20px;
    border: 1px solid white;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #d0d2ff88;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #d0d2ff88;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #d0d2ff88;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d0d2ff88;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #d0d2ff88;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: #d0d2ff88;
}

.content{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    background:#4E54C8;
}

.auth_form{
    width:500px;
    height: 500px;
    position: absolute;
    top:calc(50% - 252px);
    left:calc(50% - 252px);
    background: #656ACF;
    border:2px solid #8e92ee;
    border-radius:100px;
}

.auth_form_header{
    width:100%;
    text-align: center;
    color:#d0d2ff;
    font-size:48px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-top:7px;
}

.auth_form_username_input{
    width:320px;
    height:40px;
    position: absolute;
    top:100px;
    left:calc(50% - 161px);
    background: #00000040;
    color:#d0d2ff;
    border:1px solid #8e92ee;
    font-size:32px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    border-radius:10px;
}

.auth_form_password_input{
    width: 320px;
    height: 40px;
    position: absolute;
    top: 170px;
    left: calc(50% - 161px);
    background: #00000040;
    color: #d0d2ff;
    border: 1px solid #8e92ee;
    font-size: 32px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    border-radius: 10px;
}

.error_message{
    width:100%;
    position: absolute;
    top:270px;
    left:0;
    color:#F00;
    text-align: center;
    font-size:24px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 0 0 2px #FFFFFF80;
}

.auth_form_button{
    width:250px;
    height:45px;
    position: absolute;
    bottom:30px;
    left:calc(50% - 125px);
    cursor:pointer;
    background: #2C2E5A;
    color: #d0d2ff;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size:26px;
    border: none;
    border-radius: 15px;
    transition: 0.8s;
}

.auth_form_button:hover{
    background: #000;
    color: #FFF;
}